body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /*background color pergamino viejo*/
  background-image:url('img/pergamino-texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #dfab57;

}

.container {
  position: relative;
  width: 100%; /* Cambiado a 360px para adaptarse a la pantalla móvil */
  margin: 0 auto; /* Centrado en la pantalla */
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative
}

.image {
  width: 50%; /* Cambiado a 100% para ocupar todo el ancho del contenedor */
  height: 75vh; /* Cambiado a 100vh para ocupar toda la altura del viewport */
  transition: transform 0.5s ease;
  border-radius: 10px;  
}

.scroll-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* Rotar el botón 45 grados */
  width: 60px;
  height: 60px;
  /*color de backgroud transparente*/
  background-color: transparent;
  color: #dfab57;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px; /* Redondear las esquinas para dar forma de rombo */
  transition: opacity 0.5s ease;
}

.scroll-button:hover {
  background-color: #bd2729;
}

.scroll-button.hidden {
  opacity: 0;
}
